.toggle-button {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    width: 50px ;
    background: rgba(196, 152, 40, 0.274);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;

    /* margin-right: 1rem; */
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line{

    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: rgb(235, 168, 0);
    z-index: 999;
 
}

