body{
    background-color:white;

 }
 
 
 .link {
     color: rgb(255, 255, 255);
     margin: 0%;
     padding: 0%;
     text-decoration: underline;
   }
   
   .link:visited {
     text-decoration: none;
   }
   
   .link:hover {
     text-decoration: underline;
   }
   
   .link:active {
     text-decoration: underline;
   }
 h3, h4{
    margin-bottom: 10px;
     padding: 0%;
     font-size: 1rem;
 
     
 }

 .footerContainer{
    margin: 0 auto;
    padding: 20px;
    max-height: 600px;
    background-color: #2B455C;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    


}
.topSection  {
    display: grid;
    grid-template-columns: 1fr;
    
     
     }
 .bottomSection  {
 padding-bottom: 10px;    
display: flex;
justify-content: space-between;

 
 }
 .bottomSection img {
  
    margin-right: 20px;
     
     }

 
 
 .minP{
    margin-right: 20px;
    font-size:  0.8em;
    color: rgb(122, 122, 122);
 }
 
 
 .footer-p{
     margin-left: 10px;
     padding: 0%;
     font-size: 0.9em;
 }
 
 .top-section{
     /* border:  2px solid rgb(52, 43, 139); */
     height: 67%;
     display: flex;
     justify-content: space-between;
 }
 

 
 .contactWrapper{
margin-bottom: 20px;

 
 }
 hr { 
     display: block;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     margin-left: 20%;
     margin-right: 20%;
     border-style: inset;
     border-width: 0.8px;
     opacity: 0.4;
   } 
 
   .bottom-section{
     /* border:  2px solid rgb(189, 22, 50); */
     height: 20%;
     display: flex;
     justify-content: flex-end;
 }
 .phoneIcon{

     margin-bottom: -3px;
     margin-right: 10px;
     height: 20px;

 }
 .mailIcon{
    margin-bottom: -3px;
    margin-right: 10px;
    height: 20px;
}
