




p {
    margin: 0%;
    padding: 0%;
}

.signBtn {
    height: 50px;
    width: 150px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background-color: #155767;

}



/*Wrapper whole order input section  */
.formContainerReg{
    margin: 0 auto;
    margin-top: 7rem;
    max-width: 700px;

  

}

.inputShort {
   
    margin: 0.5rem auto 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
}

.inputForm{

    margin-top:-1rem; 
    padding: 2rem; 
   
}

/* Class for all sections containing input-fields */
.inputSection {
    margin-bottom: 1rem;
    padding: 0rem;

/* border: solid 3px rgb(134, 153, 51); */
    display: grid;
    grid-template-columns: 1fr;
}


/* Class for all input-fields */
.input-box, .input-box-short, .input-box-text, .input-box-fold{
    border: solid 2px rgb(226, 226, 226);
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    height: 20px;
}
.input-box-a{
   
    border: solid 2px rgb(226, 226, 226);
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    height: 40px;

}

.input-box-text {

    height: 100px;

}
.input-box-short{
    width: 100px;
    
}


/* Container for feedback to user below message-area */
#status-bar {
    height: 20px;
    width: 100%;
}

.wrapperButtons {
    display: flex;
    justify-content: flex-start;
}

.WrapperEndDate .react-datepicker {
   
    margin-left: -50px!important;
   
  }



  /* ----------- Desktop ----------- */
@media screen 
and (min-device-width: 1200px) 

 { 
    
        .formContainerReg{
    
            min-height: 700px;
        }
        .inputForm{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;
        }
        .subHeader{

             padding:2rem;

        }
        .wrapperButtons {
            
            float: left;

        }    

        .input-box-short {
        
            margin-right: 2rem;
        
        }
           
}
