

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
body, html{
margin: 0 auto;
min-height: 100%;

}


.penguin{
    width: 200px;
    display: block;
    margin:0 auto;
}

.logo img{
    display:block;
    margin:0 auto;
    width: 150px;
    height: 60px;
}

.logoLogin{
    margin-top: 50px;
    margin-bottom: 50px;
}

.mainContainerLogIn{

    padding: 100px 10px 10px;
    background: #4CB8C4;  /* fallback for old browsers */

}

.inputFormLogIn{
    width: 300px;
	height: 450px;
	background: #f9ffff;
	margin: 100px auto;
	text-align: center;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 10px 10px;
    margin-top: 0px;
}

.username, .password{
	width: 70%;
	outline: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-size: 14px;
	padding: 16px;
    font-weight: 300;
    background-color: #E7F0FE;
    border-radius: 15px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;

}

.password{
    display: block;
    margin:0 auto;
}

.password input {
    border: none;
    background-color: #E7F0FE;

}


.btn-login{
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    border-style: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 300;
    display:block;
	margin:0 auto;
    background-color: #155767;
    color: white;
    width: 240px;
    height: 50px;
    margin-top: 50px;
}

.h4-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.h4-forgotPassword{
    font-size: 10px;
    font-weight: 100;
}

.errorMessages *{
    margin: 1rem;
    padding: 0.5rem;
    background-color: #a02d2d;
    color: white;
}


